*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.debug{
    border: 1 px solid black;
}
body{

}
.container{
    width: 90%;
    margin: 0 auto;
}
header{
    height:80px;
    line-height: 80px;
    background-color: rgba(49,97,224,255);
}


/* main */
#jumbo{
    min-height: 560px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

